.git/
.github/
.vscode/
_env/
_erd/
docker/
dummydata/
backend/media/
backend/static/
backend/email/
backend/settings/*.env
backend/settings/action.*
backend/settings/dev.*
__pycache__
.gitignore
.dockerignore
.env
README.md